<%- include('../partials/user_feedback') %>
<hgroup>
    <h1>My family:</h1>
    <p>Here is your list of children and dependent.</p>
    <input type="button" value="Add a member">
</hgroup>

<section>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            <% if ( dependents !== []) { %>
            <% dependents.forEach(e => { %>
            <tr>
                <td><%= e.first_name %></td>
                <td><%= e.last_name %></td>
                <td><%= e.birthday %></td>
                <td><%= e.gender %></td>
                <td>
                    <button class="btn btn-primary edit-dependent" data-id="<%= e.id %>">edit</button>
                </td>
            </tr>
            <% }) %>
            <% } %>

        </tbody>
    </table>
</section>

        <% if(Array.isArray(dependents) && dependents.length === 0) { %>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p>You don't have any family member saved. Click 'add a member?' button</p>
            </div>
        </div>
        <% } %>

        <div class="modal fade modal-lg" id="dependentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="depModalTitle">Edit a dependent</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editDependentForm" method="post" action="">
                            <input type="hidden" id="id" name="id">
                            <div class="row">
                                <div class="mb-3 col">
                                    <label for="f_name" class="col-form-label">First Name:</label>
                                    <input type="text" class="form-control" id="f_name" name="first_name" placeholder="John" required>
                                </div>
                                <div class="mb-3 col">
                                    <label for="l_name" class="col-form-label">Last Name:</label>
                                    <input type="text" class="form-control" id="l_name" name="last_name" placeholder="Doe" required>
                                </div>
                            </div>
                            <div>
                                <label for="birthday" class="col-form-label">Birthday:</label>
                                <input class="form-control" type="date" id="birthday" name="birthday" value="2018-07-22" name="birthday" required />
                            </div>
                            <div class="mb-3">
                                <label for="gender">Gender: </label>
                                <select class="form-select form-control" name="gender" id="selectGender" placeholder="Please choose an option" required name="gender">
                                    <!-- <option value="">--Please choose an option--</option> -->
                                    <option value="male">male</option>
                                    <option value="female">female</option>
                                    <option value="other">other</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input type="button" class="btn btn-danger" value="delete" id="deleteTriggerButton" data-bs-target="#doubleSureModal" data-bs-toggle="modal">
                        <input type="submit" form="editDependentForm" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade modal-lg" id="doubleSureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="depModalTitle">Confirm Deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="confirmDeleteForm" method="post" action="/dependents/delete/">
                            <input type="hidden" id="deleteId" name="id">
                            <p>Are you sure you want to delete family member <strong id="deleteStatement text-danger"></strong>?</p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#dependentModal" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
                        <input type="submit" class="btn btn-danger" form="confirmDeleteForm" value="delete" id="delete">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // make edit button trigger the modal
        Array.from(document.getElementsByClassName("edit-dependent")).forEach(b => {
            b.addEventListener("click", (e) => {
                if (b.dataset.id) {
                    fetch(`/dependents/edit/${b.dataset.id}`).then(j => j.json()).then(d => {

                        document.getElementById("editDependentForm").action = `/dependents/update/${d.id}`;
                        // change title to edit dependent
                        document.getElementById("id").value = d.id;
                        document.getElementById("depModalTitle").textContent = "Edit Dependent";
                        document.getElementById("f_name").value = d.first_name;
                        document.getElementById("l_name").value = d.last_name;
                        document.getElementById("selectGender").value = d.gender;
                        document.getElementById("birthday").value = d.birthday.split('T')[0];

                        const modal = new bootstrap.Modal(document.getElementById("dependentModal"));
                        modal.show();

                    });
                } else {
                    document.getElementById('editDependentForm').action = `/dependents/create/`;

                    // change title to edit dependent
                    document.getElementById("id").value = "";
                    document.getElementById("depModalTitle").textContent = "Add a family member:";
                    document.getElementById("f_name").value = "";
                    document.getElementById("l_name").value = "";
                    document.getElementById("selectGender").value = "";
                    document.getElementById("birthday").value = "";

                    const modal = new bootstrap.Modal(document.getElementById("dependentModal"));
                    modal.show();
                }
            });
        });

        document.getElementById("deleteTriggerButton").addEventListener('click', e => {
            const id = document.getElementById("id").value;
            const hiddenInput = document.getElementById('deleteId')
            hiddenInput.value = id;
            console.log(hiddenInput);
        })
    </script>

</main>
<%- include('../layouts/footer') %>